.intro {
    display: flex;
    height: 100%;
}

.intro-text {
    height: 100%;
}

.picture {
    height: 100%;
    width: 40%;
    overflow: hidden;
}

.HarisPic {
    position: relative;
    left: -23%;
    width: 300px;
    min-width: 250px;
    height: auto;
    bottom: 25%;
}

@media (min-width: 375px) {
    .HarisPic {
        left: -132%;
    }
}

@media (min-width: 1000px) {
    .HarisPic {
        left: -23%;
    }
}

.me {
    font-family: 'Lucida Console', monospace;
    font-size: clamp(10px, 1.2rem, 30px);
}