.intro {
    display: flex;
    height: 100%;
}

.picture {
    position: relative;
    height: 100%;
    width: 20%;
    border: 2px solid green;
    overflow: hidden;
}

.HarisPic {
    position: relative;
    width: 300px;
    right: 50%;
    height: auto;
}

.me {
    font-family: 'Lucida Console', monospace;
    font-size: 1.2rem;
}