.tabs-container {
  font-family: sans-serif;
  font-size: 11px;
  width: 13%;
  height: 200px;
  margin: 10px;
  border: 3px hidden;
  z-index: 3;
}

.tabs {
  display: flex;
  height: 12%;
  width: 100%;
  max-width: 250px;
  gap: 1px;
}

.tab {
  display: flex;
  height: 100%;
  background: black;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 30%, 70% 0%);
  cursor: pointer;
  transition: background 0.2s;
  z-index: 2;
}

.tab:hover {
  background: #1e5d01;
}

.tab.active {
  background: #1e5d01;
  border-bottom: none;
  position: relative;
  z-index: 2;
}

.tab-content {
  position: relative;
  border: 1px solid rgb(19, 46, 0);
  padding: 20px;
  height: 100%;
  background: black;
  margin-top: -1px;
  /* Overlap border with active tab */
  z-index: 3;
}

.tabs-container.maximized {
  width: 70%;
  transition: all 0.5s;
}

.tabs-container.minimized {
  position: relative;
  width: 13%;
  transition: all 0.5s;
}

.maximize-button {
  position: absolute;
  top: 63%;
  left: 100%;
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%);
  transform: translateY(-50%);
  width: 30px;
  height: 50px;
  z-index: 3;
  transition: all 0.5s;
}

.minimize-button {
  position: absolute;
  top: 63%;
  left: 100%;
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%);
  transform: translateY(-50%);
  width: 30px;
  height: 40px;
  z-index: 3;
  transition: all 0.5s;
}

.arrow {
  position: absolute;
  background-color: rgb(0, 78, 23);
  z-index: 1;
}

.arrow:hover {
  background-color: rgba(0, 255, 76, 0.5);
}

.indent-one {
  position: relative;
  height: 70%;
  width: 10%;
  left: 60%;
  top: 10%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 3;
  animation: beep 2s infinite alternate;
}

@keyframes beep {

  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 10px #ff1414;
  }

  50% {
    opacity: 0.1;
    box-shadow: 0 0 2px #ff0000;
  }
}